
@page "/contacts"
@inject IContactsService ContactsService


<PageTitle>Counter</PageTitle>


<ul>
    @foreach (var contact in contacts)
    {
        <li>@contact.FirstName @contact.LastName</li>
    }
</ul>

@code {
    private List<ContactsResponse> contacts = new List<ContactsResponse>();

    protected override async Task OnInitializedAsync()
    {
        contacts = await ContactsService.GetContactsAsync();
    }
}